<div class="control-group">
      <label class="control-label" for="res_status">Admin Role</label>
      <div class="controls">

          <label class="radio inline" for="provincecontrol">
              <input type="radio" name="accesscontrol" ng-model="account.accesscontrol" id="provincecontrol" value="provincecontrol">
              Admin Province
          </label> &nbsp;&nbsp;

          <label class="radio inline" for="municipalitycontrol">
              <input type="radio" name="accesscontrol" ng-model="account.accesscontrol" id="municipalitycontrol" value="municipalitycontrol">
              Municipality Admin
          </label> &nbsp;&nbsp;

          <label class="radio inline" for="barangayaccesscontrol">
              <input type="radio" name="accesscontrol" ng-model="account.accesscontrol" id="barangayaccesscontrol" value="barangayaccesscontrol">
              Barangay Admin
          </label>
      </div>
      <div ng-show="UserAcount.accesscontrol ==='regionadmin'">
         <div class="control-group" ng-include src="'views/province.html'"></div>
      </div>
</div>  <br />