<div class="panel panel-danger">
    <div class="panel-heading">
     <button type="button" class="close" ng-click="cancel()">×</button>
        <h4 class="model-title">
        <span class="fa fa-check"></span> Confirmation
        </h4>
    </div>
    <div class="panel-body">
        <p>Are you sure you want to delete this record?</p>
        <p>{{getdelete.f}} {{getdelete.m}} {{getdelete.l}}</p>
    </div>
    <div class="panel-footer">

               <button class="btn btn-warning" ng-click="cancel()"> <span class="glyphicon glyphicon-arrow-left"></span> No </button>
	   <button href="" ng-click="yes(getdelete.id, getdelete.f, getdelete.m, getdelete.l)" class="btn btn-danger"> <span class="glyphicon glyphicon-trash"></span> Yes </button>
    </div>
</div>
