
            <center>
                        <h4>{{UserAcount.barangay.barangay_name}} Barangay Judicial List</h4>
                        <hr>
                        <button ng-click="judicialModel('lg')" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" class="btn btn-success btn-sm ">
                        <span class="glyphicon glyphicon-plus-sign" ></span> Add New</button>
                        <hr>
                        <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
            </center>
            <br>
                <div class="alert alert-danger">
                  <strong>Total no. of Judicial Record : </strong> {{judicial.length}}
                </div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
            </div>
            <div  dir-paginate="judicial in judiciallisting | filter:search | itemsPerPage: pageSize" current-page="currentPage" class="col-md-4">
            <br>

                      <div class="panel panel-warning">
                      <div class="panel-heading">
                      <h3 class="panel-title"><strong>Case Type: </strong>{{ judicial.case_type | truncate}}</h3>
                      </div>
                      <div class="panel-body">
                          <strong>Complainant: </strong>  {{judicial.complainant.fullname}}<br>
                          <strong>Resident: </strong> {{judicial.respondent.fullname}}<br>
                          <strong>Date Schedule: </strong> {{ judicial.prof_date | date}}
                      </div>
                      <div class="panel-footer">
                        <a  href="" ng-click="judicial_view('lg', judicial._id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
                        <a ng-click="judicial_Edit_Model('lg', judicial._id)" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" href="" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                      </div>
                    </div>
            </div>
<div class="row">

</div>



