 <div class="control-group" ng-controller="model">
      <label class="control-label" for="Region">Select Region:</label>
      <div class="controls">
      <select  ng-disabled="account._id"class="form-control" name="region" id="region" ng-model="account.region" ng-options="value.region_name for (key,value) in r track by value.region_name">
      <option value=''>Select Region</option></select> 
      </div>
 </div>
 <div class="control-group">
      <label class="control-label" for="Province">Select Province:</label>
      <div class="controls">
      <select ng-disabled="!account.region || account._id" class="form-control" name="province" id="province" ng-model="account.province" ng-options="value.province_name for (key,value) in p track by value.province_name">
      <option value=''>Select Province</option></select> 
      </div>
 </div> 