<form name="userForm" class="form-inline">
<div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                  <h2>{{myaccount}}</h2>

        </div>
        <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-4">

                                <div class="form-group" ng-class="{error: account.username.$invalid && !account.username.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="username">Username</label>
                                            <input id="username" class="form-control" name="username" ng-model="account.username" type="text" required="" />
                                    </div>
                                </div><br /><br />
                                <div ng-if="!account._id">
                                  <div class="form-group" ng-class="{error: account.pswrd.$invalid && !account.pswrd.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="pswrd">Password</label>
                                            <input id="pswrd" class="form-control" name="pswrd" ng-model="account.pswrd" type="password" required="" />
                                    </div>
                                  </div><br /><br />

                                  <div class="form-group" ng-class="{error: account.verifypassword.$invalid && !account.verifypassword.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="verifypassword">Verify Password</label>
                                            <input id="verifypassword" class="form-control" name="verifypassword" ng-model="account.verifypassword" type="password" required="" />
                                    </div>
                                  </div><br /><br />
                                </div>

                                <div ng-if="account._id">
                                <a href="" ng-click="enable_new()" ng-show="caption_pass === 'Change Password'"class="btn btn-default">{{caption_pass}}</a>
                                <a href="" ng-click="enable_hide()" ng-show="caption_pass === 'Click to hide'" class="btn btn-default">{{caption_pass}}</a>
                                <div ng-show="newpass === 'true'">
                                  <div class="form-group" ng-class="{error: account.pswrd.$invalid && !account.pswrd.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="pswrd">Password</label>
                                            <input id="pswrd" class="form-control" name="pswrd" ng-model="account.pswrd" type="password" required="" />
                                    </div>
                                  </div><br /><br />

                                  <div class="form-group" ng-class="{error: account.verifypassword.$invalid && !account.verifypassword.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="verifypassword">Verify Password</label>
                                            <input id="verifypassword" class="form-control" name="verifypassword" ng-model="account.verifypassword" type="password" required="" />
                                    </div>
                                  </div><br /><br />
                                </div>
                              </div>
                           </div>
                    <div class="col-lg-5">

                   <div class="control-group">
                        <label class="control-label" for="res_status">Choose Theme</label>
                        <div class="controls">
                            <div class="row">
                            <div  <div class="col-md-6">
                            <label class="radio inline" for="cyborg">
                                <input type="radio" name="themes" ng-model="account.themes" id="cyborg" value="cyborg">
                                Cyborg
                            </label>
                            </div>
                           <div class="col-md-6">
                            <label class="radio inline" for="simplex">
                                <input type="radio" name="themes" ng-model="account.themes" id="simplex" value="simplex">
                                Simplex
                            </label>
                        </div>
                    </div>
                    </div>
                    </div>
                    <br />

                    <div class="control-group">
                        <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                            <label class="radio inline" for="superhero">
                                <input type="radio" name="themes" ng-model="account.themes" id="superhero" value="superhero">
                                Superhero
                            </label>
                            </div>
                            <div class="col-md-6">
                            <label class="radio inline" for="sandstone">
                                <input type="radio" name="themes" ng-model="account.themes" id="sandstone" value="sandstone">
                                Sandstone
                            </label>
                        </div>
                        </div>
                    </div>
                    </div>  <br/>

                    <div class="control-group">
                        <div class="controls">
                         <div class="row">
                             <div class="col-md-6">
                            <label class="radio inline" for="cerulean">
                                <input type="radio" name="themes" ng-model="account.themes" id="cerulean" value="cerulean" >
                                Cerulean
                            </label>
                            </div>
                             <div  <div class="col-md-6">
                            <label class="radio inline" for="slate">
                                <input type="radio" name="themes" ng-model="account.themes" id="slate" value="slate">
                                Slate
                            </label>
                        </div>
                    </div>
                    </div>
                    </div><br />

                     <div class="control-group">
                        <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                            <label class="radio inline" for="paper">
                        <input type="radio" name="themes" ng-model="account.themes" id="paper" value="paper" >
                                Paper
                            </label>
                            </div>
                            <div class="col-md-6">
                             <label class="radio inline" for="united">
                        <input type="radio" name="themes" ng-model="account.themes" id="united" value="united" >
                                United
                            </label>
                        </div>
                    </div>
                    </div>
                    </div> <br />

                    <div class="control-group">
                        <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                            <label class="radio inline" for="darkly">
                                <input type="radio" name="themes" ng-model="account.themes" id="darkly" value="darkly" >
                                Darkly
                            </label>
                            </div>
                              <div class="col-md-6">
                            <label class="radio inline" for="spacelab">
                                <input type="radio" name="themes" ng-model="account.themes" id="spacelab" value="spacelab" >
                                Spacelab
                            </label>
                        </div>
                    </div>  <br />
                    </div>
                    </div>

                 </div><br />

                 <div class="row" ng-show="account.themes == 'cyborg'">
                                            <div class="well col-md-3">
                                                <a href="/">
                                                    <img src="img/cyborg.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                                </a>
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'simplex'">
                                            <div class="well col-md-3">
                                                <img src="img/simplex.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'superhero'">
                                            <div class="well col-md-3">
                                                <img src="img/superhero.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'sandstone'">
                                            <div class="well col-md-3">
                                                <img src="img/sandstone.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'cerulean'">
                                            <div class="well col-md-3">
                                                <img src="img/cerulean.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'slate'">
                                            <div class="well col-md-3">
                                                <img src="img/slate.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'paper'">
                                            <div class="well col-md-3">
                                                <img src="img/paper.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'united'">
                                            <div class="well col-md-3">
                                                <img src="img/united.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'darkly'">
                                            <div class="well col-md-3">
                                                <img src="img/darkly.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>
                                 <div class="row" ng-show="account.themes == 'spacelab'">
                                            <div class="well col-md-3">
                                                <img src="img/spacelab.png" style="height: 170px; width: 200px; padding-right: 19px;">
                                            </div>
                                 </div>

                                 <div class="col-lg-4" ng-show="UserAcount.accesscontrol === 'municipalitycontrol'">
                                       <div class="control-group">
                                            <label class="control-label" for="Region">Select Region:</label>
                                            <div class="controls">
                                            <select ng-disabled="true" class="form-control" name="region" id="region" ng-model="UserAcount.region" ng-options="value.region_name for (key,value) in r track by value.region_name">
                                            <option value=''>Select Region</option></select>
                                            </div>
                                       </div>
                                       <div class="control-group">
                                            <label class="control-label" for="Province">Select Province:</label>
                                            <div class="controls">
                                            <select ng-disabled="true" class="form-control" name="province" id="province" ng-model="UserAcount.province" ng-options="value.province_name for (key,value) in p track by value.province_name">
                                            <option value=''>Select Province</option></select>
                                            </div>
                                       </div>
                                       <div class="control-group">
                                            <label class="control-label" for="municipality">Select Municipality:</label>
                                            <div class="controls">
                                            <select ng-disabled="true" class="form-control" name="municipality" id="municipality" ng-model="UserAcount.municipality" ng-options="value.municipality_name for (key,value) in m track by value.municipality_name">
                                            <option value=''>Select Municipality</option></select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="barangay">Select Barangay:</label>
                                            <div class="controls">
                                            <select style="width: 70%" ng-disabled="account._id"class="form-control" name="barangay" id="barangay" ng-model="account.barangay" ng-options="value.barangay_name for (key,value) in b track by value.barangay_name">
                                            <option value=''>Select Barangay</option></select>
                                            </div>
                                        </div>
                                 </div>

                  <div>
            </div>

        </div>

        <hr>
        <div class="row" ng-if="UserAcount.accesscontrol === 'municipalitycontrol'">
            <div class="col-lg-4" >
             <h4>Baranggay Officials</h4>
                <div class="form-group">
                        <div class="col-xs-7">
                            <label for="captain">Brgy Captain</label>
                                <input id="captain" class="form-control" name="captain" ng-model="account.captain" type="text" required="" />
                        </div>
                </div><br /><br />
                <div class="form-group">
                        <div class="col-xs-7">
                            <label for="sk_chairman">SK Chairman</label>
                                <input id="sk_chairman" class="form-control" name="sk_chairman" ng-model="account.sk_chairman" type="text" required="" />
                        </div>
                </div><br /><br />
            </div>
            <div class="col-lg-4">
            <br /><br />
                <div class="form-group">
                        <div class="col-xs-7">
                            <label for="secretary">Secretary</label>
                                <input id="secretary" class="form-control" name="secretary" ng-model="account.secretary" type="text" required="" />
                        </div>
                </div><br /><br />
                <div class="form-group">
                        <div class="col-xs-7">
                            <label for="kagawad">Brgy Kagawad</label>
                                <input id="kagawad" class="form-control" name="kagawad" ng-model="account.kagawad" type="text" required="" />
                        </div>
                </div><br /><br />
            </div>
            <div class="col-lg-4">
            <br /><br />
                <div class="form-group">
                        <div class="col-xs-7">
                            <label for="treasurer">Treasurer</label>
                                <input id="treasurer" class="form-control" name="treasurer" ng-model="account.treasurer" type="text" required="" />
                        </div>
                </div><br />
            </div>

       </div>


       <div ng-show="UserAcount.accesscontrol ==='provincecontrol'" class="well">
       <label>Admin Role</label>
          <div class="controls">
            <label class="radio inline" for="municipalitycontrol">
                <input type="radio" name="accesscontrol" ng-disabled="account._id" ng-model="account.accesscontrol" id="municipalitycontrol" value="municipalitycontrol">
                Municipality Admin
            </label> &nbsp;&nbsp;

            <label class="radio inline" for="barangayaccesscontrol">
                <input type="radio" name="accesscontrol" ng-disabled="account._id" ng-model="account.accesscontrol" id="barangayaccesscontrol" value="barangayaccesscontrol">
                Barangay Admin
            </label>
         </div>
         <div ng-show="account.accesscontrol === 'municipalitycontrol'">
           <div class="control-group col-md-3">
                <label class="control-label" for="Region">Select Region:</label>
                <div class="controls">
                <select  style="width: 100%" ng-disabled="true" class="form-control" name="region" id="region" ng-model="UserAcount.region" ng-options="value.region_name for (key,value) in r track by value.region_name">
                <option value=''>Select Region</option></select>
                </div>
           </div>

           <div class="control-group col-md-3">
                <label class="control-label" for="Province">Select Province:</label>
                <div class="controls">
                <select style="width: 100%" ng-disabled="true" class="form-control" name="province" id="province" ng-model="UserAcount.province" ng-options="value.province_name for (key,value) in p track by value.province_name">
                <option value=''>Select Province</option></select>
                </div>
           </div>
           <div class="control-group col-md-3">
                <label class="control-label" for="municipality">Select Municipality:</label>
                <div class="controls">
                <select style="width: 100%" class="form-control" ng-disabled="account._id" name="municipality" id="municipality" ng-model="account.municipality" ng-options="value.municipality_name for (key,value) in m track by value.municipality_name">
                <option value=''>Select Municipality</option></select>
                </div>
            </div>

         </div>
         <br>
         <br>
         <br>
         <div ng-show="account.accesscontrol === 'barangayaccesscontrol'">
            <div class="row">

                <div class="col-md-6">
                               <image-crop
                                 data-width="200"
                                 data-height="200"
                                 data-shape="square"
                                 data-step="imageCropStep"
                                 data-result="account.mlogo"
                                 ng-show="showImageCropper = true"
                               ></image-crop>
                                <p ng-show="account.mlogo">Wanna start over? &rarr; <a href="" ng-click="account.mlogo = null;imageCropStep=1" class="btn btn-info">Reset</a></p>
                </div>
                <div class="col-md-6">
                    <center>
                        <div ng-show="account.mlogo">
                             <img ng-src="{{ account.mlogo }}" alt="The Cropped Image">
                             <p style="color: green;">Actual Logo</p>
                             <input type="hidden" class="form-control" ng-model="account.mlogo" value="account.mlogo" />
                        </div>
                   </center>
                </div>
           </div>
           <br>
           <br>
           <br>
           <br>
           <div class="control-group col-md-3">
                <label class="control-label" for="Region">Select Region:</label>
                <div class="controls">
                <select  style="width: 100%" ng-disabled="true" class="form-control" name="region" id="region" ng-model="UserAcount.region" ng-options="value.region_name for (key,value) in r track by value.region_name">
                <option value=''>Select Region</option></select>
                </div>
           </div>

           <div class="control-group col-md-3">
                <label class="control-label" for="Province">Select Province:</label>
                <div class="controls">
                <select style="width: 100%" ng-disabled="true" class="form-control" name="province" id="province" ng-model="UserAcount.province" ng-options="value.province_name for (key,value) in p track by value.province_name">
                <option value=''>Select Province</option></select>
                </div>
           </div>
           <div class="control-group col-md-3">
                <label class="control-label" for="municipality">Select Municipality:</label>
                <div class="controls">
                <select style="width: 100%" class="form-control" ng-disabled="account._id" name="municipality" id="municipality" ng-model="account.municipality" ng-options="value.municipality_name for (key,value) in m track by value.municipality_name">
                <option value=''>Select Municipality</option></select>
                </div>
            </div>
            <div class="control-group col-md-3">
                <label class="control-label" for="barangay">Select Barangay:</label>
                <div class="controls">
                <select style="width: 100%" ng-disabled="!account.municipality" class="form-control" name="barangay" id="barangay" ng-model="account.barangay" ng-options="value.barangay_name for (key,value) in b track by value.barangay_name">
                <option value=''>Select Barangay</option></select>
                </div>
                <br>
            </div>
            <div class="row">
             <div class="col-lg-4" >
               <h5>Baranggay Officials</h5>
                  <div class="form-group">
                          <div class="col-xs-7">
                              <label for="captain">Brgy Captain</label>
                                  <input id="captain" class="form-control" ng-model="account.captain" type="text" />
                          </div>
                  </div><br /><br />
                  <div class="form-group">
                          <div class="col-xs-7">
                              <label for="sk_chairman">SK Chairman</label>
                                  <input id="sk_chairman" class="form-control" ng-model="account.sk_chairman" type="text"/>
                          </div>
                  </div><br /><br />
              </div>
              <div class="col-lg-4">
              <br /><br />
                  <div class="form-group">
                          <div class="col-xs-7">
                              <label for="secretary">Secretary</label>
                                  <input id="secretary" class="form-control" ng-model="account.secretary" type="text"/>
                          </div>
                  </div><br /><br />
                  <div class="form-group">
                          <div class="col-xs-7">
                              <label for="kagawad">Brgy Kagawad</label>
                                  <input id="kagawad" class="form-control" ng-model="account.kagawad" type="text" />
                          </div>
                  </div><br /><br />
              </div>
              <div class="col-lg-4">
              <br /><br />
                  <div class="form-group">
                          <div class="col-xs-7">
                              <label for="treasurer">Treasurer</label>
                                  <input id="treasurer" class="form-control" ng-model="account.treasurer" type="text"/>
                          </div>
                  </div><br />
              </div>

            <br>
            <br>
            </div>
            <br>
            <br>
            <br>

         <div ng-show="account.accesscontrol === 'municipalitycontrol'">
         <br>
           <div class="control-group col-md-3">
                <label class="control-label" for="Region">Select Region:</label>
                <div class="controls">
                <select  style="width: 100%" ng-disabled="true" class="form-control" name="region" id="region" ng-model="UserAcount.region" ng-options="value.region_name for (key,value) in r track by value.region_name">
                <option value=''>Select Region</option></select>
                </div>
           </div>
           <div class="control-group col-md-3">
                <label class="control-label" for="Province">Select Province:</label>
                <div class="controls">
                <select style="width: 100%" ng-disabled="true" class="form-control" name="province" id="province" ng-model="UserAcount.province" ng-options="value.province_name for (key,value) in p track by value.province_name">
                <option value=''>Select Province</option></select>
                </div>
           </div>
           <div class="control-group col-md-3">
                <label class="control-label" for="municipality">Select Municipality:</label>
                <div class="controls">
                <select style="width: 100%" ng-disabled="!UserAcount.province" class="form-control" name="municipality" id="municipality" ng-model="account.municipality" ng-options="value.municipality_name for (key,value) in m track by value.municipality_name">
                <option value=''>Select Municipality</option></select>
                </div>
            </div>
            <br>
            <br>
            <br>
         </div>


       </div>

         <div class="container">
<a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="right">Terms &amp; Conditions</a>

<script language="javascript" src="script/app.js">

</script>
<br>
            <label class="checkbox inline" for="tnc">
                <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="account.tnc" required />Accept
            </label><br>
            <div ng-show="error" class="alert alert-danger col-md-7">{{error}}</div>
        </div>

        </div>


    </div>

     <div class="panel-footer">
                   <a href="/user" class="btn btn-warning" ng-click="ok()"> Cancel </a>
                        <button ng-hide="account._id" ng-click="save()" ng-disabled="!account.tnc || myForm.$invalid"
                                class="btn btn-primary"> Save </button>
                        <button ng-click="update(account._id, account.accesscontrol)" ng-show="account._id" ng-disabled="!account.tnc || myForm.$invalid"
                                class="btn btn-primary"> update </button>

    </div>
  </div>
  </form>