
              <center>
                  <div id="qrcode" style="width:5px; height:5px; margin-top:15px; display: none;"></div>
                  <h3 ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'">{{UserAcount.barangay.barangay_name}} Barangay Resident List</h3>
                  <h3 ng-if="UserAcount.accesscontrol === 'Viewer'">Barangay Resident List</h3>
                  <h3 ng-if="UserAcount.accesscontrol === 'provincecontrol'">Barangay Resident List</h3>
                  <h3 ng-if="UserAcount.accesscontrol === 'regionadmin'">Barangay Resident List</h3>
                  <h3 ng-if="UserAcount.accesscontrol === 'municipalitycontrol'">Municipality of {{UserAcount.municipality.municipality_name}} Resident's List</h3>
                  <br>
              </center>
              <center>
                    <div class="col-md-12 form-inline">
                      <a ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'"
                      ng-click="residentModel('lg')" class="btn btn-success btn-sm">
                      <span class="glyphicon glyphicon-plus-sign" ></span> Add New </a>
                      <a ng-click="allview()" class="btn btn-warning btn-sm">
                      <span class="glyphicon glyphicon-refresh" ></span> Display All </a>

                      <a ng-hide="residents.length === 0 "  ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol' || UserAcount.accesscontrol  === 'officialaccesscontrol'" class="btn btn-info btn-sm" href="/viewreport/{{UserAcount.barangay._id}}"> <span class="glyphicon glyphicon-share-alt"></span> View Report</a>
                      <a ng-hide="residents.length === 0 "  ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'" class="btn btn-danger btn-sm" href="/generateIDs"> <span class="glyphicon glyphicon-circle-arrow-right"></span> Generate all ID's </a>
                       <ui-select ng-model="searchtypes.searchtype" theme="select2" ng-disabled="disabled" style="width: 200px;" title="Choose the search type">
                        <ui-select-match placeholder="Search By...">{{$select.selected.searchName}}</ui-select-match>
                        <ui-select-choices repeat="searchtype in searchtypes | filter: $select.search">
                          <span ng-bind-html="searchtype.searchName | highlight: $select.search"></span>
                        </ui-select-choices>
                      </ui-select>
                      <ui-select ng-if="stype.searchName == 'Gender'" ng-model="GenderTypes.gendername" theme="select2" ng-disabled="disabled" style="width: 150px;" title="Choose a gender">
                        <ui-select-match placeholder="Select Gender">{{$select.selected.gendername}}</ui-select-match>
                        <ui-select-choices repeat="gendertype in GenderTypes | filter: $select.search">
                          <span ng-bind-html="gendertype.gendername | highlight: $select.search"></span>
                        </ui-select-choices>
                      </ui-select>

                      <typeaheadsearch ng-if="stype.searchName == 'Full Name'"
                       items="residentSearch" prompt="Firstname Middlename Lastname"
                        title="fullname" subtitle="b_date" model="name"
                        on-select="onItemSelected(name)" />

                       <ui-select ng-if="stype.searchName == 'Blood Type'" ng-model="bloodtypesearch.blood_type" theme="select2" ng-disabled="disabled" style="width: 150px;" title="Choose a blood type">
                        <ui-select-match placeholder="Select or search a blood type in the list...">{{$select.selected.blood_type}}</ui-select-match>
                        <ui-select-choices repeat="btype in bloodtypesearch | filter: $select.search">
                          <span ng-bind-html="btype.blood_type | highlight: $select.search"></span>
                        </ui-select-choices>
                      </ui-select>

                      <ui-select ng-if="stype.searchName == 'Health Service Availed'" ng-model="healthSearch.name" theme="select2" ng-disabled="disabled" style="width: 150px;" title="Choose the health availed">
                        <ui-select-match placeholder="Select or search the health availed in the list...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="healthAvailed in healthSearch | filter: $select.search">
                          <span ng-bind-html="healthAvailed.name | highlight: $select.search"></span>
                        </ui-select-choices>
                      </ui-select>

                      <typeaheadoccupation ng-if="stype.searchName == 'Occupation'"
                       items="residentSearch" prompt="Occupation..."
                        title="prof_occupation" subtitle="fullname" model="prof_occupation"
                        on-select="onItemSelected(prof_occupation)" />
                      <hr>
                     </div>

              </center>
            <div class="row  form-inline">
            <p ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"  ng-show="residents.length === 0 ">Opps! no records found.</p>
            <p ng-if="UserAcount.accesscontrol === 'municipalitycontrol'"  ng-show="account_count === 0 ">Opps! no barangay account created yet. <a ng-href="/user">click here to create one.</a></p>
            <p ng-if="UserAcount.accesscontrol === 'municipalitycontrol'" ng-show="residents.length === 0 && account_count !== 0">Opps! No records found. Login your barangay account to add new records.</p><br>

              <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
              </div>
    </div>

          <div class="alert alert-danger">
            <strong>Total no. of resident : </strong> {{residents.length}}
          </div>
          <div class="col-md-4" dir-paginate="resident in residents | filter:q | itemsPerPage: pageSize" current-page="currentPage">
            <div class="panel panel-warning" >
               <div class="panel-heading">
                  <h3 class="panel-title">{{resident.fullname}}</h3>
               </div>
               <div class="panel-body">
                       <div class="row">
                                <div class="col-xs-7">
                                  <span><strong>Gender: </strong>{{ resident.prof_gender }}</span><br>
                                  <span><strong>B-date: </strong>{{ resident.b_date | date }}</span><br>
                                  <span><strong>Status: </strong>{{ resident.prof_status }}</span><br>
                                  <span><strong>Age: </strong>{{ calculate_age(resident.b_date) }} years old</span><br>
                                  <span><strong>Present Address: </strong></span>

                                </div>

                                <div class="col-xs-5">

                                  <div ng-show="resident.imageuri" style="height: 50px; width: 50px;">
                                    <img id="Hello" src="{{resident.imageuri}} "height="70" width="70" class="img-rounded">
                                  </div>
                                  <div ng-show="!resident.imageuri" style="height: 50px; width: 50px;">
                                    <img id="Hello" ng-src="img/no-photo-icon.png" height="70" width="70" class="img-rounded">
                                  </div>

                                </div>
                       </div>

                       <div class="row">
                          <div class="alert alert-info">{{ resident.barangay.barangay_name }}, {{ resident.barangay.municipality }}, {{ resident.barangay.province }}</div>
                       </div>
               </div>
               <div class="panel-footer text-center">
                      <button ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" href="" ng-click="viewresidentModel('lg', resident._id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> clearance </button>
                      <button ng-hide="UserAcount.accesscontrol ==='barangayaccesscontrol'"href="" ng-click="view_guest('lg', resident._id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> View </button>
                      <button href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="resident_edit_Model('lg', resident._id)" class="btn btn-sm btn-success"> <span class="glyphicon glyphicon-edit"></span> </button>
                      <button href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="destroy('sm', resident._id, resident.prof_firstname, resident.prof_middle_name, resident.prof_lastname)" class="btn btn-sm btn-danger"> <span class="glyphicon glyphicon-trash"></span> </button>
                      <a ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'" ng-click="generatethisID(resident._id)" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-circle-arrow-down"></span> Get ID</a>

               </div>
            </div>
        </div>

<!--
              <div class="text-center">
              <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
              </div> -->




