<div class="panel panel-default">
        <div class="panel-heading">
              <div ng-hide="UserAcount.accesscontrol === 'barangayaccesscontrol'" class="pull-right">
               <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
              <a ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'" id="renderpdf" class="btn btn-info pull-right" ng-click="create_clearance('lg')"> <span class="glyphicon glyphicon-plus-sign"></span> Create Baranggay Clearance </a>
            <h4>

                 {{UserAcount.barangay.barangay_name}} Resident Information

            </h4>

        </div>
        <div class="panel-body">
            <div class="row" id="table-icespdf">

                   <div class="col-lg-4">

                      <p>Profile ID: {{brgyresident.shortIds}}</p>
                      <p>Name: {{brgyresident.prof_firstname}}, {{brgyresident.prof_lastname}} {{brgyresident.prof_middle_name}}</p>
                      <p>Gender: {{brgyresident.prof_gender}}</p>
                      <p>Civil Status: {{brgyresident.prof_status}}</p>
                      <p>Address:{{brgyresident.barangay.barangay_name}}, {{brgyresident.municipality.municipality_name}}, {{brgyresident.province.province_name}}</p>
                      <p ng-if="brgyresident.case_type" style="color: red;">CASE TYPE: {{brgyresident.case_type | uppercase}}</p>

                    </div>
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">

                                <div class="well pull-right" ng-show="brgyresident.imageuri">
                                <img id="imageme" ng-src="{{brgyresident.imageuri}}" height="200" width="200">
                                </div>
                                 <div class="well pull-right" ng-show="!brgyresident.imageuri">
                                <img ng-src="img/no-photo-icon.png" height="200" width="200">
                                </div>

                    </div>

            </div>
            <div class="row" >

                    <div class="panel panel-default" ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'">
                        <div class="panel-heading">
                             <div class="searchbox  pull-right">
                                <div class="col-md-12">
                            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                                </div>
                            </div>
                            <h5>{{brgyresident.prof_firstname}} {{brgyresident.prof_middle_name}} {{brgyresident.prof_lastname}} Barangay Clearance</h5>
                         <p><span class="label label-success">Recieved No. of Clearance : {{clearance.length}}</span> </p>

                        </div>
                        <div class="panel-body">
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                        <div class="col-md-4" dir-paginate="clearanceinfo in clearance | filter:search | itemsPerPage: pageSize" current-page="currentPage">
                             <div class="panel panel-default">
                                 <div class="panel-heading">
                                    <strong> {{clearanceinfo.resident.fullname}} </strong>
                                 </div>
                                 <div class="panel-body">
                                  <strong>Remark:  </strong>{{clearanceinfo.remark}}<br>
                                  <strong>Purpose:  </strong>{{clearanceinfo.purpose}}<br>
                                  <strong>Date issued: </strong>{{clearanceinfo.jud_issuedON | date}}<br>
                                 </div>
                                 <div class="panel-footer">

                                          <a href="" ng-click="download_pdf(clearanceinfo._id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-file"></span> Get the PDF </a>
                                          <a href="" ng-click="edit_clearance('lg', clearanceinfo._id)" class="btn btn-sm  btn-success" ><span class="glyphicon glyphicon-edit" ></span> Edit </a>

                                 </div>
                             </div>
                        </div>
                    </div>

          </div>
      </div>
      <div class="panel-footer">
          <a href="" ng-click="cancel()" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"> Close </a>
      </div>
  </div>

