<div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="" ng-click="ok()" ><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            <h2>
                {{UserAcount.barangay.barangay_name}} Judicial Information
            </h2>
        </div>
        <div class="panel-body">
            <div class="row" id="table-icespdf">
                <div class="col-lg-6">
                <label> Complainant </label><br>
                    <center>
                        <div class="well" ng-show="brgyjudicial.complainant.imageuri">
                        <img id="image" ng-src="{{brgyjudicial.complainant.imageuri}}" height="200" width="200">
                        </div>
                         <div class="well" ng-show="!brgyjudicial.complainant.imageuri">
                        <img ng-src="img/no-photo-icon.png" height="200" width="200">
                        </div>
                   </center>
                   <p>Name: {{brgyjudicial.complainant.prof_firstname}} {{brgyjudicial.complainant.prof_middle_name}} {{brgyjudicial.complainant.prof_lastname}}</p>
                   <p>Address: {{brgyjudicial.complainant.C_address}}</p>
                </div>

                <div class="col-lg-6">
                <label> Respondent </label><br>
                <center>
                    <div class="well" ng-show="brgyjudicial.respondent.imageuri">
                    <img id="image" ng-src="{{brgyjudicial.respondent.imageuri}}" height="200" width="200">
                    </div>
                     <div class="well" ng-show="!brgyjudicial.respondent.imageuri">
                    <img ng-src="img/no-photo-icon.png" height="200" width="200">
                    </div>
                </center>
                <p>Name: {{brgyjudicial.respondent.prof_firstname}} {{brgyjudicial.respondent.prof_middle_name}} {{brgyjudicial.respondent.prof_lastname}}</p>
                <p>Address: {{brgyjudicial.respondent.R_address}}</p>
                <p>Case Type: {{brgyjudicial.respondent.case_type}}</p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
             <a href="" ng-click="ok()"  class="btn btn-warning"> Close </a>
            <a ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" class="btn btn-info pull-right" ng-click="judicial_pdf(brgyjudicial._id)">Download PDF</a>
        </div>
    </div>

