<div class="row  form-inline">
<label ng-hide="dailyoption == true"class="control-label" for="searchyear">Select the Year:</label>
 <ui-select ng-hide="dailyoption == true" ng-model="searchtypes.searchtype" theme="select2" ng-disabled="disabled" style="width: 100px;" title="Choose the search type">
    <ui-select-match placeholder="Search By...">{{$select.selected.searchYear}}</ui-select-match>
    <ui-select-choices repeat="searchtype in selectYears | filter: $select.search">
      <span ng-bind-html="searchtype.searchYear | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>
<!--   <button ng-click="getyear(searchyear)" class="btn btn-info btn-sm">Submit</button> -->
 <!-- <div ng-if="dailyoption == true" class="control-group" ng-class="{error: dailyrecord.$invalid && !dailyrecord.$pristine}"> -->
        <div ng-if="dailyoption == true">
              <label class="control-label" for="dailyrecord">Select the date</label>
              <!-- <input type="text" class="form-control" Placeholder="Daily Report" datepicker-popup="dd-MMMM-yyyy" ng-model ="dailyrecord" is-open = "dailyrecord.open" ng-click = "dailyrecord.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> -->
              <input type="date" ng-model="dailyrecord" class="form-control input-sm" />
              <button ng-click="getdaily(dailyrecord)" class="btn btn-success btn-sm">Submit</button>
              <span class="btn btn-info btn-sm" ng-show="dailydateshow && !error">{{generatedata(dailydateshow)}}</span>
              <span class="btn btn-danger btn-sm" ng-show="error">{{error}}</span>
              <button ng-click="clearSearch()" class="btn btn-info btn-sm"> Clear </button>
        </div>

<!-- </div> -->

<button ng-hide="dailyoption == true" ng-click="dailyReport()" class="btn btn-success btn-sm">Daily Record</button>
</div>
<hr>
<br>
  <div class="alert alert-info">
    <strong>Total: </strong>Php  {{Totalsales | number:2 }}
  </div>

            <div class="container" ng-show="activedaily == true">
              <table class="table">
                <thead>
                  <tr>
                    <th>O.R. No.</th>
                    <th>Given Price</th>
                    <th>Name of the resident</th>
                    <th>Remark</th>
                    <th>Date of Issued</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sales in salesreport">
                    <td>{{sales.OR}}</td>
                    <td>Php {{sales.clearance_price | number:2 }}</td>
                    <td>{{sales.residentName}}</td>
                    <td>{{sales.remark}}</td>
                    <td>{{generatedata(sales.jud_issuedON)}}</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <button ng-show="salesreport.length !== 0 && UserAcount.accesscontrol === 'barangayaccesscontrol'" class="btn btn-success btn-sm" ng-click="download_report_daily()">Convert to PDF file</button>
              <span ng-show="salesreport.length === 0" class="btn btn-sm btn-info">No record</span>
              <br>
            </div>
<tabset class="tabs" ng-hide="activedaily == true">
<tab heading="{{tabm}}" ng-click="getmonth(UserAcount.barangay._id, tabm)" ng-repeat="tabm in tabmonth">
<h2>{{tabm}}</h2>
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th>O.R. No.</th>
                    <th>Given Price</th>
                    <th>Name of the resident</th>
                    <th>Remark</th>
                    <th>Date of Issued</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sales in salesreport">
                    <td>{{sales.OR}}</td>
                    <td>Php {{sales.clearance_price | number:2 }}</td>
                    <td>{{sales.residentName}}</td>
                    <td>{{sales.remark}}</td>
                    <td>{{generatedata(sales.jud_issuedON)}}</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <button ng-show="salesreport.length !== 0  && UserAcount.accesscontrol === 'barangayaccesscontrol'" class="btn btn-success btn-sm" ng-click="download_monthly_report()">Convert to PDF file</button>
            <span ng-show="salesreport.length === 0" class="btn btn-sm btn-info">No record</span>
            <br>
            </div>
</tab>

</tabset>
