<form name="officialsform" class="form-inline" novalidate>
<div class="panel panel-default">
        <div class="panel-heading">
                        <div class="pull-right">
                             <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <h2>Official Form</h2>
        </div>
        <div class="panel-body">
              <label>Elected Year</label><br>
              <input type="number" class="form-control" ng-model="brgyofficers.yearElected" />
                <div class="row">
                    <div class="col-md-4">

                            <label for="captainofficer">Captain:</label>
                             <ui-select ng-model="brgyofficers.captainofficer" theme="select2" name="captainofficer" id="captainofficer" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                <ui-select-match placeholder="Firstname, Middlename, Lastname">{{$select.selected.fullname}}</ui-select-match>
                                <ui-select-choices repeat="captainofficer.fullname as captainofficer in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                  <div ng-bind-html="captainofficer.fullname | highlight: $select.search"></div>
                                  <small>
                                    B-Date: <span ng-bind-html="''+captainofficer.b_date | highlight: $select.search | date"></span>
                                  </small>
                                </ui-select-choices>
                              </ui-select>

                          <br>
                          <div class="col-md-12">

<!--                             <label>Total no. of votes:</label>
                            <input type="number" class="form-control" name="captainvote" id="captainvote" ng-model="brgyofficers.captainvote" />
 -->
                          </div>
                    </div>
                    <div class="col-md-4">

                            <label for="skofficer">SK Chairman:</label>
                             <ui-select ng-model="brgyofficers.skofficer" name="skofficer" id="skofficer" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                <ui-select-match placeholder="Firstname, Middlename, Lastname">{{$select.selected.fullname}}</ui-select-match>
                                <ui-select-choices repeat="skofficer.fullname as skofficer in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                  <div ng-bind-html="skofficer.fullname | highlight: $select.search"></div>
                                  <small>
                                    B-Date: <span ng-bind-html="''+skofficer.b_date | highlight: $select.search | date"></span>
                                  </small>
                                </ui-select-choices>
                              </ui-select>

                          <br>
                          <div class="col-md-12">

<!--                             <label>Total no. of votes:</label>
                            <input type="number" class="form-control" name="skofficervote" id="skofficervote" ng-model="brgyofficers.skofficervote" />
 -->
                          </div>
                    </div>
                  <div class="col-md-4">
                    <div class="control-group" ng-class="{error: brgyofficers.kagawad.$invalid && !brgyofficers.kagawad.$pristine}">
                        <label>Councilors:</label><br>
                          <ui-select multiple ng-model="brgyofficers.kagawad" name="kagawad" id="kagawad" theme="select2" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 250px;">
                            <ui-select-match placeholder="Firstname middlename lastname">{{$item.fullname}}</ui-select-match>
                            <ui-select-choices repeat="kagawad.fullname as kagawad in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                              <div ng-bind-html="kagawad.fullname | highlight: $select.search"></div>
                              <small>
                                Birthday: <span ng-bind-html="''+kagawad.b_date | highlight: $select.search | date"></span>
                              </small>
                            </ui-select-choices>
                          </ui-select>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                         <div class="control-group" ng-class="{error: brgyofficers.secretary.$invalid && !brgyofficers.secretary.$pristine}">
                            <label for="resident_married_to">Secretary:</label>
                             <ui-select ng-model="brgyofficers.secretary" name="secretary" id="secretary" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                <ui-select-match placeholder="Firstname, Middlename, Lastname">{{$select.selected.fullname}}</ui-select-match>
                                <ui-select-choices repeat="secretary.fullname as secretary in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                  <div ng-bind-html="secretary.fullname | highlight: $select.search"></div>
                                  <small>
                                    B-Date: <span ng-bind-html="''+secretary.b_date | highlight: $select.search | date"></span>
                                  </small>
                                </ui-select-choices>
                              </ui-select>
                          </div>
                          <br>
                          <div class="col-md-12">
      <!--                       <div class="control-group" ng-class="{error: brgyofficers.votesec.$invalid && !brgyofficers.votesec.$pristine}">
                            <label>Total no. of votes:</label>
                            <input type="number" class="form-control" name="votesec" id="votesec" ng-model="brgyofficers.votesec" />
                            </div> -->
                          </div>
                    </div>
                    <div class="col-md-4">
                     <div class="control-group" ng-class="{error: brgyofficers.treasurer.$invalid && !brgyofficers.treasurer.$pristine}">
                        <label for="resident_married_to">Treasurer:</label>
                         <ui-select ng-model="brgyofficers.treasurer" name="treasurer" id="treasurer" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                            <ui-select-match placeholder="Firstname, Middlename, Lastname">{{$select.selected.fullname}}</ui-select-match>
                            <ui-select-choices repeat="treasurer.fullname as treasurer in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                              <div ng-bind-html="treasurer.fullname | highlight: $select.search"></div>
                              <small>
                                B-Date: <span ng-bind-html="''+treasurer.b_date | highlight: $select.search | date"></span>
                              </small>
                            </ui-select-choices>
                          </ui-select>
                      </div>
                      <br>
                      <div class="col-md-12">
<!--                         <div class="control-group" ng-class="{error: brgyofficers.votettr.$invalid && !brgyofficers.votettr.$pristine}">
                        <label>Total no. of votes:</label>
                        <input type="number" class="form-control" name="votettr"  id="votettr" ng-model="brgyofficers.votettr" />
                        </div> -->
                      </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">

              <button ng-hide="brgyofficers._id" class="btn btn-success btn-sm" ng-click="createbrgyofficials()"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
              <button ng-show="brgyofficers._id" class="btn btn-success btn-sm" ng-click="updateofficial(brgyofficers._id)"> Update <span class="glyphicon glyphicon-floppy-save"></span> </button>
              <button ng-show="brgyofficers._id" class="btn btn-danger btn-sm" ng-click="deleteofficials(brgyofficers._id)"> <span class="glyphicon glyphicon-trash"></span> </button>
        </div>

    </div>
</form>