<div class="container">
    <div class="panel panel-default">
            <div class="panel-heading">
             <div class="searchbox  pull-right">
                <div class="col-md-12">
            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>

                <a ng-click="openmodal('lg')" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New Region</a>

        <h2>List of Regions</h2>

        </div>
        <div class="panel-body">
              <br>
    <!-- ng-click="show(region._id)" -->
                <table ng-table="tableParams" template-pagination="custom/pager" class="table table-hover">
                      <tr ng-repeat="region in $data | filter:search | orderBy:'region_name'" >
                          <td data-title="'Name Of Regions'">
                              {{region.region_name}}
                          </td>

                          <td data-title="'Action'">
                            <div class="pull-right">
                            <a href="/viewprovinces/{{region._id}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-eye-open"></span> View Provinces </a>
                            <!-- href="/region/{{region._id}}" -->
                             <a ng-click="openmodal('lg', region._id)" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span> edit</a>
                            </div>
                          </td>
                      </tr>
                  </table>
               <script type="text/ng-template" id="custom/pager">
                        <ul class="pager ng-cloak">
                          <li ng-repeat="page in pages"
                                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                          </li>
                            <li>
                            <div class="btn-group">
                                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                            </div>
                            </li>
                        </ul>
                    </script>
        </div>
    </div>
</div>