<form name="userForm" class="form-inline" novalidate>
<div class="panel panel-default">
    <div class="panel-heading">
                <div class="pull-right">
                    <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            <h3>{{formheading}}</h3>
    </div>
    <div class="panel-body well">
    <div class="row">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label" for="resident_owner_here">Resident in this Barangay?</label>
                    <div class="controls">
                        <label class="radio inline" for="Yes">
                            <input type="radio" name="resident_owner_here" ng-model="brgybusiness.resident_owner_here" id="yes" value="Yes" ng-disabled="brgybusiness._id"> Yes
                        </label>
                        <label class="radio inline" for="No">
                            <input type="radio" name="resident_owner_here" ng-model="brgybusiness.resident_owner_here" id="no" value="No" ng-disabled="brgybusiness._id"> No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-if="brgybusiness.resident_owner_here === 'No' ">
                <div class="control-group" ng-class="{error: brgybusiness.prof_firstname.$invalid && !brgybusiness.prof_firstname.$pristine}">
                    <label class="control-label" for="prof_firstname">First Name</label>
                    <div class="controls">
                        <input id="prof_firstname" name="prof_firstname" ng-model="brgybusiness.prof_firstname" type="text" class="form-control" required="" capitalize-first/>
                    </div>
                    <p ng-show="userForm.prof_firstname.$invalid && !userForm.prof_firstname.$pristine" class="help-block" style="color: red;"> * Must enter Firstname</p>
                </div> <br />

                <div class="control-group" ng-class="{error: brgybusiness.prof_middle_name.$invalid && !brgybusiness.prof_middle_name.$pristine}">
                    <label class="control-label" for="prof_middle_name">Middle Name</label>
                    <div class="controls">
                        <input id="prof_middle_name" name="prof_middle_name" ng-model="brgybusiness.prof_middle_name" type="text"  class="form-control" required="" capitalize-first/>
                    </div>
                    <p ng-show="userForm.prof_middle_name.$invalid && !userForm.prof_middle_name.$pristine" class="help-block" style="color: red;"> * Must Enter Middlename</p>
                </div> <br />

                <div class="control-group" ng-class="{error: brgybusiness.prof_lastname.$invalid && !brgybusiness.prof_lastname.$pristine}">
                    <label class="control-label" for="prof_lastname">Last Name</label>
                    <div class="controls">
                        <input id="prof_lastname" name="prof_lastname" ng-model="brgybusiness.prof_lastname" type="text"  class="form-control" required="" capitalize-first/>
                        <p ng-show="userForm.prof_lastname.$invalid && !userForm.prof_lastname.$pristine" class="help-block" style="color: red; "> * Must enter Lastname</p>
                    </div>
                </div> <br />
            </div>
            <div class="col-md-4" ng-if="brgybusiness.resident_owner_here === 'Yes' " style="margin-bottom: 15px;">
              <div class="control-group">
                <label for="business_owner">Business Owner's Name</label>
                 <ui-select ng-model="brgybusiness.business_owner" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                    <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                    <ui-select-choices repeat="residentbusiness.fullname as residentbusiness in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                      <div ng-bind-html="residentbusiness.fullname | highlight: $select.search"></div>
                      <small>
                        B-Date: <span ng-bind-html="''+residentbusiness.b_date | highlight: $select.search | date"></span>
                      </small>
                    </ui-select-choices>
                  </ui-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="control-group" ng-class="{error: brgybusiness.business_type.$invalid && !brgybusiness.business_type.$pristine}">
                    <label class="control-label" for="business_type">Type of Business</label>
                    <div class="controls">
                        <input id="business_type" name="business_type" ng-model="brgybusiness.business_type" ng-disabled="!brgybusiness.resident_owner_here" type="text"  class="form-control" style="width: 250px;" required="required" capitalize-first/>
                        <p ng-show="userForm.business_type.$invalid && !userForm.business_type.$pristine" class="help-block" style="color: red; "> * Must enter the business type</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6">
                <div class="control-group" ng-class="{error: brgybusiness.business_name.$invalid && !brgybusiness.business_name.$pristine}">
                    <label class="control-label" for="business_name">Name of the Business</label>
                    <div class="controls">
                        <input id="business_name" name="business_name" ng-model="brgybusiness.business_name" ng-disabled="!brgybusiness.resident_owner_here" type="text"  class="form-control" style="width: 250px;" required="required" capitalize-first/>
                        <p ng-show="userForm.business_name.$invalid && !userForm.business_name.$pristine" class="help-block" style="color: red; "> * Must enter the business name</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label" for="complainant_resident">Business Located?</label>
                    <div class="controls">
                       <textarea class="form-control" ng-model="brgybusiness.business_address" ng-disabled="!brgybusiness.resident_owner_here" style="width: 250px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group" style="margin-top: 15px;">
        <div class="container">
            <a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="right">Terms &amp; Conditions</a>
            <br>
            <label class="checkbox inline" for="tnc">
                <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="brgybusiness.tnc" ng-disabled="!brgybusiness.resident_owner_here" required /> Accept
            </label>
            <br />
            <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>

        </div>
    <br />
    </div>
    <div class="panel-footer">
        <button ng-if="!brgybusiness._id" ng-click="savebusiness()"
                ng-disabled="!brgybusiness.business_name || !brgybusiness.tnc || myForm.$invalid"
                class="btn btn-success"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
        <button ng-click="updatebusiness(brgybusiness._id)"
                ng-if="brgybusiness._id"
                class="btn btn-success"> Update <span class="glyphicon glyphicon-floppy-save"></span>
    </div>
</div>
</form>
<script language="javascript">
$(document).ready(function(){
    $("[rel='tooltip']").tooltip();

    })
</script>