<form name="userForm" class="form-inline" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
                    <div class="pull-right">
                        <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                <h3>{{formheading}}</h3>
        </div>
        <div class="panel-body well">
            <div class="row">
                <div class="control-group col-md-12">
                    <label class="control-label col-md-12" for="business_name">Record Owner</label>
                    <div class="controls col-md-12">
                        <h4>{{businesspermit.business_owner || businesspermit.prof_firstname + " " + businesspermit.prof_middle_name + " " + businesspermit.prof_lastname}}</h4>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="control-group col-md-12">
                    <label class="control-label col-md-12" for="control_number">Control #</label>
                    <div class="controls col-md-12">
                       <input class="form-control" name="control_numnber" ng-model="businesspermit.controlnumber" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="control-group col-md-12">
                    <label class="control-label col-md-12" for="certification_fee">Certification Fee</label>
                    <div class="controls col-md-12">
                       <input class="form-control" name="certification_fee" ng-model="businesspermit.certificationfee" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="control-group col-md-12">
                    <label class="control-label col-md-12" for="or_fee">O.R. #</label>
                    <div class="controls col-md-12">
                       <input class="form-control" name="or_fee" ng-model="businesspermit.ornumber" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="control-group col-md-12">
                    <button ng-click="generatePermitPDF()" ng-disabled="!businesspermit.controlnumber || !businesspermit.certificationfee || !businesspermit.ornumber" class="btn btn-danger col-md-12"> Generate PDF 
                        <span class="glyphicon glyphicon-circle-arrow-right"></span> 
                    </button>
                </div>
            </div>
        </div>
    </div>    
</form>