<div class="panel panel-default">
    <div class="panel-heading">
            <div class="pull-right">
                 <button class="btn btn-success" ng-click="addbusiness('lg')">
                 <span class="glyphicon glyphicon-plus-sign"></span> Add new business permit </button>
            </div>
    <h3>{{businessheading}}</h3>
    </div>
    <div class="panel-body">
          <div class="table-responsive">
                <table class="table">
                <tr>
                    <th>Business Name</th>
                    <th>Business Owner</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="business in businesslist">

                    <td>{{business.business_name || "Unspecified"}}</td>
                    <td>{{business.business_owner || business.prof_firstname + " " + business.prof_middle_name + " " + business.prof_lastname}}</td>
                    <td>{{business.dateCreated}}</td>
                    <td>

                      <button href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="editbusiness('lg', business._id)" class="btn btn-sm btn-success" title="Update permit"> <span class="glyphicon glyphicon-edit"></span> </button>
                      <button href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="deletebusiness(business._id)" class="btn btn-sm btn-danger" title="Delete permit"> <span class="glyphicon glyphicon-trash"></span> </button>
                      <button href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="printpermit('md', business._id)" class="btn btn-sm btn-info" title="Print permit"> <span class="glyphicon glyphicon-circle-arrow-down"></span> </button>

                    </td>
                </tr>

                </table>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>